<?xml version="1.0" encoding="utf-8"?>
<!--

Changelog:
1.1: 
- added ACRA App Crash Reporting
- Fixed NullPointerExceptions (LocationManager.getLastKnownLocation() == null)
- Fixed NullPointerExceptions (currentSelectedServer == null (at init) )

1.0: initial version

Why the minSdkVersion(9):
http://developer.android.com/reference/android/location/LocationManager.html#requestSingleUpdate(java.lang.String,%20android.location.LocationListener,%20android.os.Looper)
Location.requestSingleUpdate is added in API_level 9 (Android 2.3)
http://developer.android.com/guide/topics/manifest/uses-sdk-element.html#ApiLevels
//-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="nl.frankkie.ontp"
          android:versionCode="2"
          android:versionName="1.1">    
    
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="17" />
    
    <supports-screens 
        android:resizeable="true" 
        android:smallScreens="true" 
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />
        
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <application 
        android:label="@string/app_name" 
        android:name=".MyApplication"
        android:icon="@drawable/ic_launcher">
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>